.bicycle {
    display: flex;
    justify-content: space-between;

    &__buttons {
        display: flex;
    }

    &__button {
        margin: 92px 40px 140px 0;
        cursor: pointer;
        @extend %text-style;
        transition: 0.5s;

        .dark & {
            color: #e5e5e5;
            transition: 0.5s;

            &:hover {
                opacity: 50%;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            opacity: 60%;
        }

        &-active {
            color: #151515;
            font-weight: 600;
            opacity: 1;

            .dark & {
                color: $white;
            }
        }
    }

    &__title {
        margin: 60px 513px 120px 0;
        @extend %title-style;
    }

    &__pic {
        margin: 0;
        display: flex;
    }

    &__image {
        border-radius: 20px;
    }

    &__group {
        margin: 0 30px 0 0;
        width: 380px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__name {
        margin: 22px 0 60px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        .dark & {
            color: $white;
        }
    }

    &__link {
        text-decoration: none;
        color: $black;
    }
}
