.triathlon {
    display: flex;
    justify-content: space-between;
    min-height: 856px;
    padding-left: 120px;
    margin-top: 74px;

    &__title {
        margin-top: 80px;
        max-width: 460px;
        @extend %title-style;
    }

    &__text {
        margin: 50px 0;
        max-width: 460px;
        @extend %text-style;

        .dark & {
            color: #e5e5e5;
        }
    }

    &__button {
        position: relative;
        display: inline-block;
        text-align: center;
        padding: 18px 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 106.24%;
        text-decoration: none;
        width: 180px;
        border-radius: 4px;
        color: $white;
        background: linear-gradient(to left, $green 50%, #319e75 50%) right;
        background-size: 200%;
        transition: 0.5s ease-out;

        &:hover {
            background-position: left;
        }
    }

    &__image {
        margin-top: 20px;
        height: 836px;
    }

    &__bike {
        position: relative;
        display: flex;
        margin-top: 167px;
    }

    &__bike-name {
        margin: 0;
        font-size: 18px;
        line-height: 18px;
    }

    &__bike-line {
        width: 132px;
        height: 2px;
        background-color: $grayLight;
        margin: 10px 154px 0 30px;

        .dark & {
            background-color: #707070;
        }
    }

    &__bike-hallway {
        position: absolute;
        top: -270px;
        left: 510px;
        width: 440px;
        height: 430px;
    }

    &__bike-image {
        border-radius: 20px;
        position: sticky;
        top: 30px;
        left: 630px;
    }

    &_mobile {
        display: none;
    }
}

@media (max-width: 400px) {
    .triathlon {
        display: block;
        margin-top: 0;
        padding-left: 0;

        &__group,
        &__image {
            display: none;
        }

        &_mobile {
            display: block;
            padding: 40px 18px;
        }

        &__title_mobile {
            @extend %title-mobile;
        }
    }
}
