.triathlon {
    display: flex;
    justify-content: space-between;
    min-height: 856px;
    padding-left: 120px;
    margin-top: 74px;

    &__title {
        margin-top: 80px;
        max-width: 460px;
        font-weight: 700;
        font-size: 55px;
        line-height: 90.14%;
    }

    &__text {
        margin: 50px 0;
        max-width: 460px;
        font-weight: 400;
        font-size: 18px;
        line-height: 128.53%;
    }

    &__button {
        display: inline-block;
        text-align: center;
        padding: 18px 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 106.24%;
        text-decoration: none;
        width: 180px;
        border-radius: 4px;
        background-color: $green;
        color: $white;
    }

    &__image {
        margin-top: 20px;
        height: 836px;
    }

    &__bike {
        position: relative;
        display: flex;
        margin-top: 167px;
    }

    &__bike-name {
        margin: 0;
        font-size: 18px;
        line-height: 18px;
    }

    &__bike-line {
        width: 132px;
        height: 2px;
        background-color: $grayLight;
        margin: 10px 154px 0 30px;
    }

    &__bike-hallway {
        position: absolute;
        top: -270px;
        left: 510px;
        width: 440px;
        height: 430px;
    }

    &__bike-container {
        position: sticky;
        top: 30px;
        left: 630px;
        width: 440px;
        height: 300px;
        background: $background;
        border-radius: 20px;
    }

    &__bike-image {
        margin: 20px 50px;
    }
}
